:root {
  --mdc-theme-primary: #f98b00;
  --mdc-theme-primary-light: #ffbc45;
  --mdc-theme-primary-dark: #c05d00;
  --mdc-theme-secondary: #90caf9;
  --mdc-theme-secondary-light: #c3fdff;
  --mdc-theme-secondary-dark: #5d99c6;
  --mdc-theme-background: #fff;

  font-family: 'Noto Sans', sans-serif;
}

section.user-card {
  padding: 1rem;
}

.repos.hidden, .profile.hidden {
  display: none;
}

a.mdc-tab {
  text-decoration: none;
}

img.mdc-card__media-item.mdc-card__media-item {
  width: 100%;
  height: auto;
  margin: 0;
}

.profile {
  display: flex;
  justify-content: center;
}

.mdc-card.user-profile {
  max-width: 550px;
}

.repo-item {
  justify-content: space-between;
}

.mdc-toolbar {
  padding-left: 16px;
}

main {
  padding: 8px;
}

#github-repos {
  justify-content: space-around;
}

.mdc-grid-list .mdc-grid-tile__primary {
  padding-bottom: 120%;
}

.mdc-grid-tile__primary-content {
  height: auto;
}

.mdc-grid-tile {
  cursor: pointer;
  overflow-y: hidden;
  --mdc-grid-list-tile-width: 48%;
}

.mdc-grid-tile__secondary {
  height: 96px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transform: translateY(48px);
}

.mdc-grid-tile__secondary:hover {
  transform: translateY(0px);
}

.mdc-grid-tile__secondary:focus {
  transform: translateY(0px);
}

@media (min-width: 450px) {
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 32.33%;
  }
}

@media (min-width: 770px) {
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 24%;
  }
}

@media (min-width: 1030px) {
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 19%;
  }
}

@media (min-width: 1440px) {
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 9%;
  }
}
