:root {
  --mdc-theme-primary: #f98b00;
  --mdc-theme-primary-light: #ffbc45;
  --mdc-theme-primary-dark: #c05d00;
  --mdc-theme-secondary: #90caf9;
  --mdc-theme-secondary-light: #c3fdff;
  --mdc-theme-secondary-dark: #5d99c6;
  --mdc-theme-background: #fff;
}

.repo-item {
  justify-content: space-between;
}

.mdc-toolbar {
  padding-left: 16px;
}

main {
  padding: 8px;
}

.mdc-grid-list .mdc-grid-tile__primary {
  padding-bottom: 120%;
}

.mdc-grid-tile__primary-content {
  height: auto;
}

.mdc-grid-tile {
  --mdc-grid-list-tile-width: 50%;
}

@media (min-width: 450px) {
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 33.33%;
  }
}

@media (min-width: 770px) {
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 25%;
  }
}

@media (min-width: 1030px) {
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 20%;
  }
}

@media (min-width: 1440px) {
  .mdc-grid-tile {
    --mdc-grid-list-tile-width: 10%;
  }
}
